.App{
    font-family: sans-serif;
    max-width: 90%;
    margin: auto;
}
.spinner-image{
    text-align: center;
    margin-top: 150px;
  }
  
.App-header{
    display: flex;    
    justify-content: space-around;
    padding: 30px;   
}

.movie-header-search{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 30px;
}
.movie-header-search-text{
    border: solid black 2px;
    width: 700px;
    padding: 10px;
}
.movie-header-search-button{
    border: solid black 2px;
    background-color: transparent;
    padding: 0 10px;
}
.movie-header-rating{
    text-align: center;
    padding: 10px;
}
.movie-rating-text{
    padding: 30px;
}

.movie-List-item{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 60px;
  
}
.movie-List-item-image-item{
    width: 300px;
    height: 400px;
}
.movie-List-item-movie{
    margin:30px; 
    border: black solid;
}
.movie-List-item-rating{
    display: flex;
    justify-content: center;
    
}
